* {
  box-sizing:border-box;
}

html {
  height:100vh;
}

body {
  background: url('https://images6.alphacoders.com/106/1064067.jpg') no-repeat 50% 50%; 
  height:100vh;
  font-family: open sans;
  font: 400 1em/1.5em 'Raleway', sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#292929;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  text-transform: uppercase;
  margin:2.5rem 0 1rem;
  color: rgb(153, 80, 80);
}

h2 {
  font-weight: bold;
  margin: 0;
}

h2.beschrijving{
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

article {
  width:48vw;
  max-width: 30em;
  min-width: 25em;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
  background: rgb(255, 255, 255);
  box-shadow:0 0 10px 2px rgba(51, 51, 51, 0.4);
  position: relative;
  transition:.25s;
}

.article .profile-header{
  height: 20em;
}
header {
  
  padding-top: 1em;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  justify-content:flex-end;
  
}

h4{
  margin: 1em;
  font-size: 0.9em;
  font-weight: normal;
  letter-spacing: 0.3px;
}

img {
  width:16em;
  border:5px solid #fff;
  box-shadow:0 0 0px 1px rgba(0,0,0,.2);
  position:relative;
  transition:.25s .15s;
  margin: 1.5em;
}

/* folder tabs */

.tabs {
  position: relative;
  width:48vw;
  min-height: 17em; 
  min-width: 25em;
  max-width: 30em;
  clear: both;
  margin: 2em;
  margin-top: 2.5em;
  margin-bottom: -0.1em;
}

.tab {
  float: left;

}

.tab label {
  background: #eee;
  padding: 0.6em;
  margin: -10px;
  border: 1px solid rgb(170, 170, 170);
  margin-left: -0.5px;
  position: relative;
  left: -1.5em;
}

.tab [type="radio"] {
  opacity: 0;
}

.content {
  position: absolute;
  top: 29px;
  left: 0;
  background: rgb(255, 255, 255);
  right: 0;
  bottom: 0;
  padding: 25px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.content > * {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

[type="radio"]:focus ~ label {
  outline: 0.1em solid rgb(138, 138, 138);
}

[type="radio"]:checked ~ label {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid white;
  z-index: 2;
}

[type="radio"]:checked ~ label ~ .content {
  z-index: 1;
}

[type="radio"]:checked ~ label ~ .content > * {
  opacity: 1;
  transform: translateX(0);
}

/* folder tabs */




